/*Fonts BEGIN */

@import url('https://fonts.googleapis.com/css?family=Exo+2');

/*Fonts END */


/*General styles BEGIN*/

.empty {
    color: #a1a1a1;
}

.placeholder {
    display: none;
}

.hidden {
    display: none;
}


/*General styles END*/


/*Select styles BEGIN*/

.select {
    width: 40%;
    margin: 20px;
    float: left;
    position: relative;
    display: block;
}

.form:after {
    content: "";
    display: table;
    clear: both;
}

.select select {
    appearance: none!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    width: 100%;
    height: 50px;
    font-family: 'Exo 2', sans-serif;
    font-size: 15px;
    padding: 15px 20px;
    background: transparent;
    border: 1px solid #e2e2e2;
    overflow: hidden;
    background-image: url('../icons/arrow.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.select select:after {
    content: "▼";
}

.select select option {
    color: #000;
}


/*Select styles BEGIN*/


/*Dropdown BEGIN*/

.dropdown {
    border: 1px solid #e2e2e2;
    margin-top: 5px;
    padding: 0;
    width: 100%;
    height: 200px;
    overflow: auto;
    background: #fff; 
    box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 9999;
}

.dropdown li {
    list-style: none;
    font-family: 'Exo 2', sans-serif;
    font-size: 15px;
    padding: 15px 20px;
}

.dropdown li:hover {
    background: #e2e2e2;
}

.dropdown li.active {
    background: #e2e2e2;
}


/*Dropdown END*/